/* You can add global styles to this file, and also import other style files */
li
    list-style: none

li a
    text-decoration: none
    color: white
    font-size: 18px

a:hover
    color: white
    text-decoration: underline
