footer
    width: 100%
    min-height: 166px
    background-color: var(--theme-blue)

div.col-4
    color: white

h4
    font-weight: 400

li a
    font-size: 16px

span.spacer 
    height: 5px

em
    font-size: 20px

@media (max-width: 767px)
    footer > div > div.row
        flex-direction: column
        align-items: center
        padding-bottom: 16px
    
    footer > div > div.row div
        width: 100%
